.body {
	background-color:#ffc697;
}

section img {
	width:150px; 
	height:200px;  
}


.logo {
	width:140px;
	 height:100px;
}






.titulo-valky {
	color:rgb(131, 58, 25);
	display: flex;
	justify-content: center;
	padding: 5px;
}

.container-valkyria {
	display: flex;
	margin: 20px;
	justify-content: center;
}

.imagen-valky {
	width:250px; 
	height:200px;  
}





.titulo-somos {
	color:rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	padding: 20px;
}

.titulo-somos2 {
	color:rgb(117, 71, 39);
	display: grid;
	flex-flow: column;
	justify-content: center;
	margin: 20px;
	
}

.container-somos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
}

@media (min-width: 768px) {
    .container-somos{
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		
    }
}

.presentacion {
	margin: 10px;
	
}






.container-bienvenido {
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.container-contacto{
	margin: 30px;
}





.tienda {
	display: flex ;
	flex-flow: row wrap;
	justify-content: center;
	
}

@media (min-width: 768px) {
    .tienda{
        flex-direction: row;
       
    }
}
.items{
	margin: 10px;
}

.titulo-tienda {
	color:rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	padding: 20px;
}