.body {
	background-color:#ffc697;
}
.italica {
	font-style: italic;
}

.italica-brown {
	font-style: italic;
	color: brown;
}

section img {
	width:200px; 
	height:180px;  
}


.logo {
	width:140px;
	 height:100px;
}


#tablaTienda {
	font-family: serif;
	color: black;
	background-color: white;
}

.container-valkyria {
	display: flex;
	margin: 20px;
	justify-content: center;
}


.titulo-somos {
	color:rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	padding: 20px;
}

.titulo-somos2 {
	color:rgb(117, 71, 39);
	display: grid;
	flex-flow: column;
	justify-content: center;
	
}

.container-somos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
}

@media (min-width: 768px) {
    .container-somos{
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		
    }
}


.presentacion {
	margin: 10px;
}




.container-bienvenido {
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.container-contacto{
	margin: 30px;
}





.tienda {
	display: flex ;
	flex-flow: row wrap;
	justify-content: center;
	
}

@media (min-width: 768px) {
    .tienda{
        flex-direction: row;
       
    }
}
.items{
	margin: 10px;
}

.titulo-tienda {
	color:rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	padding: 20px;
}